body{
  background-image: url("https://res.cloudinary.com/dxdsq6qcw/image/upload/v1705542484/5453893_kflwll.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center; 
}